.initiative {
    display: block;
    /* Pour centrer l'image */
    margin: 0 auto;
    /* Pour centrer l'image horizontalement */
    width: 100%;
    /* Ajustez ce pourcentage pour agrandir ou réduire l'image */
    max-width: 600px;
    max-height: fit-content;
    /* Limite maximale pour la taille de l'image */
}

/* Optionnel : Centrer verticalement dans le conteneur parent */
